header, .pageheader {
  text-align: center;
  height: 80vh;
  background-size: cover;
  background-image: url(democat_bg4.jpg);
  background-position: center;
  background-color: #101064;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.pageheader {
  height: 45vh;
  align-items: center;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  color: #303030;
  background-color: #cad6e3;
  
}

.intro {
  background-color: white;
  margin: 20px 5px 5px 5px;
  padding: 20px 10%;
  border-radius: 10px;
  font-size: 1.1em;
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  line-height: 1em;
  padding: 0;
}

.content ul {
    padding: 0;
}

.left-content,
.right-content {
  flex: 1 1;
  min-width: 300px;
}

.section {
  background-color: white;
  margin: 5px;
  padding: 20px;
  border-radius: 10px;
}

.navbar {
  box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.5);
}

.nav-item {
  font-size: 1.5em;
  padding: 5px;
}

h1 {
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
  font-family: 'Pacifico', cursive;
}
#subtitle {
  font-size: 1.5em;
  color: white;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

h2 {
  font-weight: 700;
  font-size: 1.7em;
  color: #474747;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

h3 {
  font-weight: 700;
  font-size: 1.5em;
  color: #062a54;
  margin-top: 0.9em;
  margin-bottom: 1px;

}

h4 {
  color: grey;
  font-weight: 400;
  font-size: 1em;
  text-transform: uppercase;
}

h5 {
  color: grey;
  font-size: 1.2em;
  text-align: center;
  text-transform: uppercase;
}

#form {
  max-width: 450px;
  margin: auto;
}

#blurb {
  color: red;
}

#mia {
      margin: 0 auto 20px;
      display: block;
}

footer {
  text-align: center;
  margin: 20px;
}


@media screen and (max-width: 600px) {
  .content {
    padding: 6px;
    margin: 4px;
  }
  .container {
    padding: 1px;
  }

}